

<div id="topnav" >
    <div class="in-row menu">
         
        <a class="show-cat-btn 
                  marginal 
                  centered-b" href="/cart">Show Cart</a>
    </div>

    
    <div class="menu " >
        <a class="show-cat-btn marginal centered-b"href="/shop/womens">Womens</a>
        <form action="/search" method="GET">
            <div class="box ">
                <div class="container-1 in-row marginal">
                    <button type="submit" value="Search" class="no-button icon"><i href="#" class="fa fa-search"></i></button>
                    <input type="search" id="search" placeholder="Search..." name="search" />
                </div>
            </div>
        </form>
        
        <a class="show-cat-btn marginal centered-b" href="/shop/mens">Mens</a>
        
    </div>
</div>