<!DOCTYPE html>
<html>
	<head>
    	<title><%= title %></title>
    	<link rel="stylesheet" href="/stylesheets/styles2.css" />
  	</head>
  	
  	<body>
		<div class="topnav">
            <a class="inactive"> OSF Shop </a>
            <div class="menu" >
                <a href="/shop/mens">Mens</a>
                <a href="/shop/womens">Womens</a>
            </div>
        </div> 
    	<h1><%= title %></h1>
    	<p>Welcome to <%= title %></p>
  	</body>
</html>