<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- Import ALL styles  -->
    <link rel="stylesheet" href="/stylesheets/preview-card.style.css" />
    <link rel="stylesheet" href="/stylesheets/paginator.style.css" />
    <link rel="stylesheet" href="/stylesheets/currency-picker.style.css" />
    <link href="https://fonts.googleapis.com/css?family=Yanone+Kaffeesatz&display=swap" rel="stylesheet"> 
    <link rel="stylesheet" href="/stylesheets/breadcrumbs.style.css" />
	<link rel="stylesheet" href="/stylesheets/product-list.style.css" />
    <link rel="stylesheet" href="/stylesheets/navbar.style.css" />
	<link rel="stylesheet" href="/stylesheets/containers.css" />
    <link rel="stylesheet" href="/stylesheets/style.css" />
    <link href="//maxcdn.bootstrapcdn.com/font-awesome/4.1.0/css/font-awesome.min.css" rel="stylesheet">
    
   
    <title>OSF SHOP</title>
    
</head>
<body>
    <%-partial('./shop/partials/topNavigation')%>
    <%-partial('./shop/partials/header')%>
    
    
    <%-body -%>

    <%-partial('./shop/partials/footer')%>
</body>
</html>